[Unit]
Description=Redshift display colour temperature adjustment
Documentation=http://jonls.dk/redshift/
After=display-manager.service

[Service]
ExecStart=/usr/bin/redshift-gtk
Restart=always
RestartSec=20s
Environment=DISPLAY=:0

[Install]
WantedBy=graphical.target
