#!/usr/bin/env xdg-open

[Desktop Entry]
Name=Neomutt
Comment=Terminal E-Mail Client
Exec=neomutt
Terminal=true
Type=Application
Icon=/usr/share/doc/neomutt/logo/neomutt-256.png
Categories=Office;Email;
MimeType=application/mbox;message/rfc822;x-scheme-handler/mailto;
